html {
  font-size: 16px;
  scroll-behavior: smooth;

  body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #101010;
    background-color: orange; // 임시코드
    color: #fff;

    main {
      background-image: url(../img/grid_background.png);
    }

    a {
      color: #fff;

      &:hover {
        cursor: url(../img/mouse.png), auto;
      }
    }

    .inner {
      width: 1360px;
      margin: 0 auto;
    }

    .row {
      padding: 0 2rem;
      box-sizing: border-box;
    }

    .active {
      color: #5cffc0;
    }

    .hide {
      display: none;
      z-index: -99;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .btnStyle {
      width: 100%;
      max-width: 17.5rem;
      height: 3.75rem;
      font-size: 1.25rem;
      border-radius: 1.875rem;
      background-color: transparent;
      border: 1px solid #fff;
      transition: 0.3s;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: linear-gradient(to right, #31f8ab, #39c2ee);
        border: transparent;
        color: #101010;
      }
    }
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header 헤더 */

header {
  position: fixed;
  width: 100%;
  height: 4.375rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  @include flexCenter;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    nav {
      width: 100%;

      .languageBtn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.625rem;

        li {
          position: relative;

          &:nth-child(1)::after {
            position: absolute;
            content: "";
            top: 55%;
            right: -0.5rem;
            transform: translate(0, -50%);
            background-color: #fff;
            width: 1px;
            height: 70%;
          }

          button {
            cursor: pointer;
            margin-left: 1rem;

            &:hover {
              cursor: url(../img/mouse.png), auto;
            }
          }
        }
      }

      .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
          a {
            &:hover {
              color: #5cffc0;
            }
          }
        }
      }
    }
  }
}

/* main 메인 */

main {
  /* section 공통 */
  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 10vh;
    @include flexCenter;
    flex-direction: column;

    h2 {
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
      line-height: 2;
    }
  }

  /* section 섹션1 mainVisual */
  .mainVisual {
    z-index: 1;

    // 딤드 표현
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -2;
    }

    > h2 {
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 68px;
      text-align: center;

      strong {
        color: #5cffc0;
      }
    }

    > .mouseScroll {
      position: absolute;
      bottom: 1.875rem;
      width: 0.625rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      > img {
        margin: 0.25rem;
        animation-name: move; // 애니메이션 명
        animation-duration: 0.4s; // 완료까지 걸리는 시간 설정
        animation-timing-function: linear; // 속도 곡선 설정
        animation-iteration-count: infinite; // 반복 설정
        animation-direction: alternate; // 재생 방향 설정
      }

      @keyframes move {
        100% {
          margin: 0px;
        }
      }

      > p {
        margin-top: 0.375rem;
        color: rgba(#5cffc0, 0.3);
      }
    }
  }

  /* section 섹션2 PROMO */
  .PROMO {
    video {
      width: 100%;
    }
  }

  /* section 섹션3 UNIVERSE */
  .UNIVERSE {
    p {
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.8;
    }

    .swiper {
      width: 100%;
      padding: 3.125rem 0;
      padding-left: 1rem; // 추가코드
      box-sizing: border-box;

      .swiper-wrapper {
        .swiper-slide {
          box-sizing: border-box;
          padding: 0.9375rem 0.9375rem 0 0.9375rem;
          border-radius: 1rem;
          background-color: #000;

          img {
            width: 100%;
            border-radius: 0.75rem;
          }

          video {
            width: 100%;
            border-radius: 0.75rem;
          }

          p {
            font-size: 1rem;
            padding: 0.3125rem;
            margin-bottom: 0;

            span {
              color: #5cffc0;
            }
          }
        }
      }
    }

    a {
      margin-top: 3.75rem;
    }
  }

   /* section 섹션4 ROADMAP */
   .ROADMAP {    
    &::after {
      content: "";
      position: absolute;
      top: -30rem;
      left: 0px;
      width: 100%;
      height: 200%;
      background-image: url(../img/road/roadmap_bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -10;
    }

    .row {
      width: 100%;
      max-width: 72.5rem;

      article {
        background-color: #000;
        display: flex;
        border-radius: 1rem;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

        .tabMenu {
          min-width: 7.875rem;
          border-radius: 1rem 0 0 1rem;
          background-color: #191919;
          // background-color: #000;

          li {
            position: relative;
            height: 2.4375rem;
            font-size: 2rem;
            padding: 1.5rem 0;
            text-align: center;
          }

          .active {
            &:before {
              position: absolute;
              content: "";
              width: 3px;
              height: 40%;
              background-color: #5cffc0;
              top: 48%;
              left: 0;
              transform: translate(-50%, -50%);
              border-radius: 0.3125rem;
            }
          }
        }

        .tabList {
          width: 100%;
          min-height: 32.5rem;
          padding: 3rem;
          background-color: #101010;
          border-radius: 0 1rem 1rem 0;
          box-sizing: border-box;

          li {
            display: flex;
            justify-content: space-between;

            ul {
              li {
                display: block;
                line-height: 2;

                &::before {
                  content: "· ";
                }

                &:hover {
                  color: #5cffc0;
                }
              }
            }
          }

          img {
            margin-left: 6.25rem;
            display: block;
            width: 12.5rem;
            object-fit: contain;
          }

          video {
            display: block;
            width: 45%;
            object-fit: contain;
          }
        }
      }
    }
  }


   /* section 섹션5 TEAM */
   .TEAM {
    >p {
      font-size: 1.25rem;
      line-height: 2;
      text-align: center;
    }

    .swiper {
      width: 100%;
      padding: 3.125rem 0;
      padding-left: 1rem; // 추가코드
      box-sizing: border-box;

      .swiper-wrapper {
        .swiper-slide {
          box-sizing: border-box;
          background-color: #000;
          border-radius: 0.8125rem;
          padding: 0.625rem;

          .img_area {
            img {
              width: 100%;
            }
          }

          .title_area {
            text-align: center;
            white-space: nowrap;

            .name {
              padding: 0.625rem;
              font-size: 1.625rem;
              line-height: 1.625rem;
            }

            .job {
              padding: 0.625rem;
              font-size: 1rem;
              line-height: 1rem;
            }
          }
        }
      }
    }
  }
  
   /* section 섹션6 UNIVERSE */
}
