html {
  font-size: 16px;
  scroll-behavior: smooth;

  body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #101010;
    color: #fff;

    main {
      background-image: url(../img/grid_background.png);
    }

    a {
      color: #fff;

      &:hover {
        cursor: url(../img/mouse.png), auto;
      }
    }

    .inner {
      width: 1360px;
      margin: 0 auto;
    }

    .row {
      padding: 0 2rem;
    }

    .active {
      color: #5cffc0;
    }

    .hide {
      display: none;
      z-index: -99;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .btnStyle {
      width: 100%;
      max-width: 17.5rem;
      height: 3.75rem;
      font-size: 1.25rem;
      border-radius: 1.875rem;
      background-color: transparent;
      border: 1px solid #fff;
      transition: 0.3s;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btnStyle:hover {
      background: linear-gradient(to right, #31f8ab, #39c2ee);
      border: transparent;
      color: #101010;
    }
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header 시작 */

header {
  position: fixed;
  width: 100%;
  height: 4.375rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  @include flexCenter;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    nav {
      width: 100%;

      .languageBtn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.625rem;

        li {
          position: relative;

          &:nth-child(1)::after {
            position: absolute;
            content: "";
            top: 55%;
            right: -0.5rem;
            transform: translate(0, -50%);
            background-color: #fff;
            width: 1px;
            height: 70%;
          }

          button {
            cursor: pointer;
            margin-left: 1rem;

            &:hover {
              cursor: url(../img/mouse.png), auto;
            }
          }
        }
      }

      .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
          a {
            &:hover {
              color: #5cffc0;
            }
          }
        }
      }
    }
  }
}

/* header 종료 */


main {
  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 10vh;
    @include flexCenter;
    flex-direction: column;

    h2 {
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
      line-height: 2;
    }
  }

  .mainVisual {
    z-index: 1;

    // 딤드 표현
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -2;
    }

    
    >h2 {
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 68px;
      text-align: center;

      strong {
        color: #5cffc0;
      }
    }

    >.mouseScroll {
      position: absolute;
      bottom: 1.875rem;
      width: 0.625rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      >img {
        margin: 0.25rem;
        animation-name: move; // 애니메이션 명
        animation-duration: 0.4s; // 완료까지 걸리는 시간 설정
        animation-timing-function: linear; // 속도 곡선 설정
        animation-iteration-count: infinite; // 반복 설정
        animation-direction: alternate; // 재생 방향 설정
      }

      @keyframes move {
        100% {
          margin: 0px;
        }
      }

      >p {
        margin-top: 0.375rem;
        color: rgba(#5cffc0, 0.3);
      }
    }
  
  }

  .PROMO {
    video {
      width: 100%;
    }
  }






}