@media (max-width: 940px) {
  html {
    font-size: 14px;

    body {
      font-size: 1rem;

      .inner {
        width: 100%;
      }
    }
  }

  header {
    .inner {
      display: flex;
      justify-content: center;

      nav {
        .languageBtn {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
        }

        .menu {
          display: none;
        }
      }
    }
  }

  main {
    section {
      margin-bottom: 20vh;
    }

    .mainVisual {
      >h2 {
        font-size: 1.875rem;
      }

      >p {
        font-size: 0.75rem;
      }
    }

    .UNIVERSE {
      .swiper {
        padding: 3.125rem 1rem; // 추가코드
      }
    }

    .ROADMAP {
      .row {
        width: 100%;

        article {
          flex-direction: column;

          .tabMenu {
            display: flex;
            width: 100%;
            border-radius: 1rem 1rem 0 0;

            li {
              width: 5rem;
            }

            .active {
              &:before {
                bottom: 0;
                height: 0.25rem;
                top: auto;
                width: 100%;
                transform: translate(0%, 34%);
              }
            }
          }

          .tabList {
            border-radius: 1rem;
            padding: 2rem;

            li {
              flex-direction: column;
            }

            img {
              margin-left: 0;
              margin: 1.25rem 0;
              width: 9.375rem;
            }
          }
        }
      }
    }

    .TEAM {
      .swiper {
        padding: 3.125rem 1rem;
      }
    }

    
  }
}

@media (max-width: 320px) {
  html {
    font-size: 10px;

    body {
      font-size: 1rem;

      .inner {
        width: 100%;
      }

      .row {
        padding: 0 1rem;
      }

      h2 {
        font-size: 2.3rem;
      }
    }
  }
}