@media (max-width: 940px) {
  html {
    font-size: 14px;

    body {
      font-size: 1rem;

      .inner {
        width: 100%;
      }
    }
  }

  header {
    .inner {
      display: flex;
      justify-content: center;

      nav {
        .languageBtn {
          position: absolute;
          top: .5rem;
          right: .5rem;
        }

        .menu {
          display: none;
        }
      }
    }
  }

  main {

    section {
      margin-bottom: 20vh;
    }

    .mainVisual {
      >h2 {
        font-size: 1.875rem;
      }

      >.mouseScroll {
        >img {}

        >p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  html {
    font-size: 10px;

    body {
      font-size: 1rem;

      .inner {
        width: 100%;
      }
      .row {
        padding: 0 1rem;
      }

      h2 {
        font-size: 2.6rem;
      }
    }
  }
}