@media (max-width: 940px) {
  html {
    font-size: 14px;
  }
  html body {
    font-size: 1rem;
  }
  html body .inner {
    width: 100%;
  }
  header .inner {
    display: flex;
    justify-content: center;
  }
  header .inner nav .languageBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  header .inner nav .menu {
    display: none;
  }
  aside {
    top: 10%;
    right: 2%;
  }
  aside ul li {
    margin-bottom: 1rem;
  }
  main section {
    margin-bottom: 20vh;
  }
  main .mainVisual > h2 {
    font-size: 1.875rem;
  }
  main .mainVisual > p {
    font-size: 0.75rem;
  }
  main .UNIVERSE .swiper {
    padding: 3.125rem 1rem;
  }
  main .ROADMAP .row {
    width: 100%;
  }
  main .ROADMAP .row article {
    flex-direction: column;
  }
  main .ROADMAP .row article .tabMenu {
    display: flex;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  main .ROADMAP .row article .tabMenu li {
    width: 5rem;
  }
  main .ROADMAP .row article .tabMenu .active:before {
    bottom: 0;
    height: 0.25rem;
    top: auto;
    width: 100%;
    transform: translate(0%, 34%);
  }
  main .ROADMAP .row article .tabList {
    border-radius: 1rem;
    padding: 2rem;
  }
  main .ROADMAP .row article .tabList li {
    flex-direction: column;
  }
  main .ROADMAP .row article .tabList img {
    margin-left: 0;
    margin: 1.25rem 0;
    width: 9.375rem;
  }
  main .TEAM .swiper {
    padding: 3.125rem 1rem;
  }
  main .PARTNERS .inner ul li {
    width: 25%;
  }
  main .GALLERY .swiper {
    padding: 3.125rem 1rem;
  }
  main .GALLERY .swiper .swiper-pagination {
    display: block;
  }
  main .GALLERY .zoomInArea img {
    max-width: 95%;
  }
  main .modalNotPage {
    width: 90%;
    height: 90%;
  }
  footer .footerInfo .row div {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .footerInfo .row div .leftBox {
    width: 100%;
  }
  footer .footerInfo .row div .leftBox form {
    width: 100%;
  }
  footer .footerInfo .row div .leftBox form input[type=email] {
    width: 100%;
  }
  footer .footerInfo .row div .rightBox {
    width: 100%;
    margin-top: 2rem;
    align-items: flex-start;
  }
  footer .footerInfo .row div .rightBox a {
    font-size: 1rem;
  }
  footer .footerInfo .row div .rightBox ul {
    margin-top: 3.125rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footerInfo .row div .rightBox ul li {
    padding: 0 1.25rem;
  }
  footer .footerInfo .row div .rightBox ul li a {
    margin-left: 0;
  }
  footer .footerInfo .row div .rightBox ul li a img {
    width: 1.875rem;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
  html body {
    font-size: 1rem;
  }
  html body .inner {
    width: 100%;
  }
  html body .row {
    padding: 0 1rem;
  }
  html body h2 {
    font-size: 2.3rem;
  }
  main .PARTNERS .inner ul li {
    width: 33.3333%;
  }
  main .PARTNERS .inner ul li div {
    max-height: 0rem;
  }
  footer .footerInfo .row div .rightBox ul li {
    padding: 0 3px;
  }
}