html {
  font-size: 16px;
  scroll-behavior: smooth;

  body {
    .hide {
      display: none;
      z-index: -99;
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
}

a {
  transition: all 0.25s ease;
  color: #fff;

  &:hover {
    cursor: url(../img/mouse.png), auto;
  }
}

.active {
  color: #5cffc0;
}

.inner {
  width: 1360px;
  margin: 0 auto;
}

.row {
  padding: 0 2rem;
  box-sizing: border-box;
}

.btnStyle {
  width: 100%;
  max-width: 17.5rem;
  height: 3.75rem;
  font-size: 1.25rem;
  border-radius: 1.875rem;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: linear-gradient(to right, #31f8ab, #39c2ee);
    border: transparent;
    color: #101010;
  }
}
